<h3>Srongest Brew</h3>

 <div>Blend name: <%= @brew.blend_name %></div> <br />
 <div>Origin: <%= @brew.origin%></div> <br />
 <div>Notes: <%= @brew.notes%></div> <br />
 <div>Strength: <%= @brew.strength%></div> <br />