<h1>New item</h1>
<form method="post" action="/dishes">
    <label>Name<label>
    <input type="text" name="name" placeholder="name">
    <label>description<label>
    <input type="text" name="description">
    <label>Price<label>
    <input type="number" name="price">
    <input type="submit">
<form>